.vscode/
.env
venv/
__pycache__/
*.pyc
.DS_Store
instance/
*.sqlite3
logs/
*.log
celerybeat-schedule
*.pid
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
.pyre//
migrations/
.idea/
*.iml
*.swp
*.swo
*.db
.ruff_cache/